body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
  color: black;
}

.App {
  @import url(PollForm.less);
  header {
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: white;
    height: 60px;
    box-shadow: 0 0 5px darkgray;
    border: 1px solid lightgray;
    img {
      position: relative;
      top: 10px;
      left: 10px;
      height: 40px;
      float: left;
    }
    h1 {
      display: inline-block;
      font-size: 30px;
      margin-top: 7px;
      margin-left: 15px;
    }
  }
}