body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgray;
  color: black;
}
.App .new-poll-form {
  box-shadow: 0 0 5px darkgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 20px;
  background-color: white;
  max-width: 600px;
  margin: auto;
  margin-top: 70px;
  text-align: center;
}
.App .new-poll-form .submit-container {
  text-align: left;
}
.App .new-poll-form button {
  margin-left: 20px;
  background-color: green;
  border: 1px solid lightgray;
  font-size: 20px;
  padding: 5px 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.App .new-poll-form input[type='text'] {
  font-size: 22px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid lightgray;
  width: calc(100% - 30px);
}
.App .new-poll-form input[type='text']:focus {
  outline: none;
  border: 2px solid green;
}
.App .new-poll-form h2 i {
  font-size: 25px;
  font-style: normal;
  color: green;
}
.App .new-poll-form ol input[type='text'] {
  border: none;
}
.App .new-poll-form ol input[type='text']:focus {
  border: none;
}
.App header {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 60px;
  box-shadow: 0 0 5px darkgray;
  border: 1px solid lightgray;
}
.App header img {
  position: relative;
  top: 10px;
  left: 10px;
  height: 40px;
  float: left;
}
.App header h1 {
  display: inline-block;
  font-size: 30px;
  margin-top: 7px;
  margin-left: 15px;
}
